/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wrap{
	background: #FFFFFF;
	padding: 10px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
}

.top_post_title{
	width:85%;
	display: inline-block;
}

.top_post_share{
	width:15%;
	display: inline-block;
}

.rubrique_top{color:#444; font-weight:normal;line-height: 30px;padding: 10px; background-color: lightblue;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.input {
    float: left;
    width: 150px;
    margin: 5px 0;
    background-color: transparent;
}

.fieldset{
    line-height: 60px;
}

.rubrique{color:#444; font-weight:normal;background-color:#ececec;margin:20px 3px;padding: 10px 10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border: 1px;
    border-color: #444;
    border-style: solid;}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 25%; }
#sortable li { background: #ececec; margin: 0 3px 3px 3px; padding: 15px; padding-left: 1.5em; font-size: 15px; height: 16px;border: 1px;border-color: #ececec;border-style: solid;}

.networkselected {
	border: 1px;
    border-color: #2491CF !important;
    border-style: solid;
}

.fa-arrows-alt {
	cursor: move; 
	float: right;
}
/*share button*/
.scsb_sharebuttons {padding: 20px 0 20px 0;}

.scsb_rectangle{
    margin-right: 60px;
    padding: 10px 17px;
    background-color: transparent;
    border: 1px;
    border-color: #444;
    border-style: solid;
    text-decoration: none;
}

.scsb_x1{
    font-size: 12px;
}

.scsb_x2{
    font-size: 15px;
}

.scsb_x3{
    font-size: 18px;
}

.scsb_button{
    display: inline-block;
    padding: 10px 0;
}

.scsb_btnz {
    padding: 10px 17px;
    border:none;
    background-color: #ececec;
    text-decoration: none;
    color: #FFF !important;
}

.scsb_btnz:hover {
    cursor: pointer;
}

.scsb_hover:hover {
    color: #444 !important;
    cursor: pointer;
    background-color: #ececec;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.scsb_round {
    margin-right: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
}

.scsb_circleadmin {
    margin-right: 60px;
    padding: 10px 17px;
    border: 1px;
    border-color: #444;
    border-style: solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;  
}

.scsb_circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;  
}

.scsb_grey {
    color: #444 !important;
    background-color: #ececec;
}

.scsb_greyhover:hover {
    color: #fff !important;
    background-color: #444;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.scsb_dark {
    color: #fff !important;
    background-color: #444;
}

.scsb_noback_social_facebook {
	color: #3b5998 !important;
    background-color: transparent!important;
}

.scsb_noback_social_twitter {
	color: #55acee !important;
    background-color: transparent!important;
}

.scsb_noback_social_google-plus {
	color: #dd4b39 !important;
    background-color: transparent!important;
}

.scsb_noback_social_pinterest {
	color: #cc2127 !important;
    background-color: transparent!important;
}

.scsb_noback_social_linkedin {
	color: #0077b5 !important;
    background-color: transparent!important;
}

.scsb_noback_social_whatsapp {
	color: #34AF23 !important;
    background-color: transparent!important;
}

.scsb_noback_dark {
	color: #444 !important;
    background-color: transparent!important;
}

.scsb_noback_dark_hover:hover {
	color: #444 !important;
    background-color: transparent!important;	
}

.scsb_noback_social_hover_facebook:hover {
	color: #3b5998 !important;
    background-color: transparent!important;		
}
.scsb_noback_social_hover_twitter:hover {
	color: #55acee !important;
    background-color: transparent!important;		
}
.scsb_noback_social_hover_google-plus:hover {
	color: #dd4b39 !important;
    background-color: transparent!important;		
}
.scsb_noback_social_hover_pinterest:hover {
	color: #cc2127 !important;
    background-color: transparent!important;		
}
.scsb_noback_social_hover_linkedin:hover {
	color: #0077b5 !important;
    background-color: transparent!important;		
}
.scsb_noback_social_hover_whatsapp:hover {
	color: #34AF23 !important;
    background-color: transparent!important;		
}

.scsb_darkhover:hover {
    color: #444 !important;
    background-color: #ececec;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.scsb_facebook {
    background-color: #3b5998;
}
.scsb_facebook_hover:hover{
    color: #FFF !important;
    background-color: #3b5998;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.scsb_google-plus {
    background-color: #dd4b39;
}
.scsb_google-plus_hover:hover{
    color: #FFF !important;
    background-color: #dd4b39;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.scsb_twitter {
    background-color: #55acee;
}
.scsb_twitter_hover:hover{
    color: #FFF !important;
    background-color: #55acee;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.scsb_pinterest {
    background-color: #cc2127;
}
.scsb_pinterest_hover:hover{
    color: #FFF !important;
    background-color: #cc2127;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.scsb_linkedin {
    background-color: #0077b5;
}
.scsb_linkedin_hover:hover{
    color: #FFF !important;
    background-color: #0077b5;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.scsb_whatsapp {
    background-color: #34AF23;
}
.scsb_whatsapp_hover:hover{
    color: #FFF !important;
    background-color: #34AF23;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/* Misc */
.clear{clear:both}
